// colors
$color-1: #ffffff;
$color-2: #f8f9fc;
$color-3: #c0bfcf;
$color-4: #9d9db5;
$color-5: #192140;
$color-6: #10131c;
$color-7: #d7f8ff;
$color-8: #dcf10d;
$color-9: #0266ff;

$main-padding: 0 80px;
