.sky-blue-box {
    display: flex;
    justify-content: center;
}

.ligh-brown-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.violet-box {
    display: flex;
    justify-content: end;
}

.parent-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.children-line {
    display: flex;
    justify-content: space-between;
}
